.menu {
    position: fixed;
    height: 100%;

    grid-area: aside;

    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "menu-header" "menu-body";
}

.menuLarge {
    width: 250px;
    /* transition: width .5s; */
}

.menuSmall {
    width: 70px;
    /* transition: width .5s; */
}