aside {
    position: fixed;
    width: 250px;
    height: 100%;

    grid-area: aside;

    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "menu-header" "menu-body";
}